@charset "utf-8";

*{
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

table, td {
	background-color: #FFF;
	border: 2px solid black;
	border-collapse: collapse;
}

table {
	width: 50vw;
	height: 98vh;
	position: relative;
}

.red {
	background-color: #F00;
	border: none;
}

.red2 {
	background-color: #F00;
}

.blue {
	background-color: #00F;
	border: none;
}

.blue2 {
	background-color: #00F;
}

.yellow {
	background-color: #FF0;
	border: none;
}

.yellow2 {
	background-color: #FF0;
}

.green {
	background-color: #00A400;
	border: none;
}

.green2 {
	background-color: #00A400;
}

#arrw1, #arrw2, #arrw3, #arrw4, #arrw5, #arrw6, #arrw7, #arrw8, #arrw9, #arrw10, #arrw11, #arrw {
	position: absolute;
	width: 5%;
	height: 1.3%;
}

#arrw1 {
	right: 43%;
	top: 39%;
}

#arrw2 {
	right: 44.5%;
	top: 20%;
}

#arrw3 {
	right: 47.8%;
	top: 7%;
}

#arrw4 {
	right: 25.2%;
	top: 49%;
}

#arrw5 {
	right: 29.4%;
	top: 55.4%;
}

#arrw6 {
	right: 42.8%;
	bottom: 40%;
}

#arrw7 {
	bottom: 7%;
	right: 47.8%;
}

#arrw8 {
	bottom: 20.5%;
	left: 44.2%;
}

#arrw9 {
	left: 42.5%;
	bottom: 40%;
}

#arrw10 {
	left: 26%;
	top: 49%;
}

#arrw11 {
	left: 32.5%;
	top: 42.7%;
}

#arrw {
	top: 39%;
	left: 42.5%;
}

#mid {
	position: absolute;
	top: 40%;
	left: 45.05%;
	width: 9.5%;
	height: 19.4%;
}

#greenp, #redp, #bluep, #yellowp {
	position: absolute;
	width: 19.9%;
	height: 39%;
}

#greenp, #yellowp {
	bottom: 1.5%;
}

#greenp, #bluep {
	right: 25.2%;
}

#yellowp {
	width: 19.5%;
	left: 25.3%;
}

#redp {
	top: 1.5%;
	width: 19.4%;
	left: 25.3%;
	height: 38.3%;
}

#bluep {
	top: 1.2%;
}

/***** On small devices****/
/*     */
@media screen and (max-width:415px) {
	table {
		width: 50vw;
		height: 40vh;
	}
	
	#arrw1 {
		right: 41%;
		top: 41.1%;
		/* background-color: red; */
	}
	
	#arrw2 {
		right: 43.2%;
		top: 20%;
	}
	
	#arrw3 {
		right: 47.8%;
		top: 15%;
	}
	
	#arrw4 {
		right: 17.2%;
		top: 49.2%;
	}
	
	#arrw5 {
		right: 26.4%;
		top: 54.4%;
	}
	
	#arrw6 {
		right: 40.9%;
		bottom: 41.5%;
	}
	
	#arrw7 {
		bottom: 14.5%;
		right: 47.8%;
	}
	
	#arrw8 {
		bottom: 20.5%;
		left: 42.5%;
	}
	
	#arrw9 {
		left: 40%;
		bottom: 41.5%;
	}
	
	#arrw10 {
		left: 17%;
		top: 49%;
	}
	
	#arrw11 {
		left: 25.5%;
		top: 43.9%;
	}
	
	#arrw {
		top: 41.6%;
		left: 39.9%;
	}
	
	#mid {
		position: absolute;
		top: 42%;
		left: 42.8%;
		width: 14%;
		height: 15.6%;
	}
	
	#greenp, #redp, #bluep, #yellowp {
		position: absolute;
		width: 27.7%;
		height: 31.5%;
	}
	
	#greenp, #yellowp {
		bottom: 10.5%;
	}
	
	#greenp, #bluep {
		right: 15.29%;
		height: 31.5%;
	}
	
	#yellowp {
		width: 27.3%;
		left: 15.4%;
	}
	
	#redp {
		top: 10.35%;
		width: 27%;
		left: 15.513%;
		/* height: 38.3%; */
	}
	
	#bluep {
		top: 10.3%;
	}
  }